<head>  
  <!-- manifest -->
  <link rel="manifest" href="https://botanybase.github.io/manifest.json" />
  
  <!-- meta -->
  <title>{{ page.title }} | BotanyBase</title>
  <meta name="description" content="{{ page.description }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- stylesheet -->
  <link rel="stylesheet" href="https://botanybase.github.io/assets/css/style.css">

  <!-- Site Favicon(s) -->
  <link rel="apple-touch-icon" href="https://botanybase.github.io/assets/favicon.png">
  <link rel="icon" href="https://botanybase.github.io/assets/favicon.png" sizes="192x192">
  
</head>
