<head>  
  <!-- manifest -->
  <link rel="manifest" href="https://botanybase.github.io/manifest.json" />
  
  <!-- meta -->
  <title>{{ page.title }} | BotanyBase</title>
  <meta name="description" content="{{ page.description }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- stylesheet -->
  <link rel="stylesheet" href="https://botanybase.github.io/assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" integrity="sha512-csw0Ma4oXCAgd/d4nTcpoEoz4nYvvnk21a8VA2h2dzhPAvjbUIK6V3si7/g/HehwdunqqW18RwCJKpD7rL67Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
  <!-- Site Favicon(s) -->
  <link rel="apple-touch-icon" href="https://botanybase.github.io/assets/favicon.png">
  <link rel="icon" href="https://botanybase.github.io/assets/favicon.png" sizes="192x192">

   <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/16f51689e7.js" crossorigin="anonymous"></script>
  
</head>
