<head>  
  <!-- manifest -->
  <link rel="manifest" href="https://botanybase.obl.ong/manifest.json" />
  
  <!-- meta -->
  <title>{{ page.title }} | BotanyBase</title>
  <meta name="description" content="{{ page.description }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- stylesheet -->
  <link rel="stylesheet" href="https://botanybase.obl.ong/assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" integrity="sha512-csw0Ma4oXCAgd/d4nTcpoEoz4nYvvnk21a8VA2h2dzhPAvjbUIK6V3si7/g/HehwdunqqW18RwCJKpD7rL67Xg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <!-- jQuery -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <!-- Animzyx -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@animxyz/core">
  
  <!-- Site Favicon(s) -->
  <link rel="apple-touch-icon" href="https://botanybase.github.io/assets/faviconnew.png">
  <link rel="icon" href="https://botanybase.github.io/assets/faviconnew.png" sizes="192x192">

   <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/16f51689e7.js" crossorigin="anonymous"></script>

  <!-- Sentry -->
  <script
  src="https://js-de.sentry-cdn.com/baaa5fdebc69d78e4ef802097507611e.min.js"
  crossorigin="anonymous"
  ></script>

  <link rel="stylesheet" href="https://unpkg.com/neobrutalismcss@latest" />

  <script src="https://cdn.jsdelivr.net/gh/ashishagarwal2023/freegptjs@1.0.2/src/freegpt.min.js"></script>
  
  <meta name="google-site-verification" content="Jq7ti0H2S7XbJhN1TBIajTwDni7ICrDz7datSE-eIoA" />

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6NQXVVTFBJ"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6NQXVVTFBJ');
  </script>

  <script src="/assets/js/userData.js"></script>

  <script src="https://unpkg.com/scrollreveal"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-notifications/3.1.0/style.min.css" integrity="sha512-OFAsS5R1Fx+HUK9/h/ChqnFDrJGI0Y7nO05gg9E+Mv1UAzvAMvQdtOuPLhgPgDPHOgKWBvbovxT3eQSCr5hlLw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/awesome-notifications/3.1.0/index.var.min.js" integrity="sha512-gS8jKzzlhaUACXtBbUmj9/ITyZEAMM5TNwcL2Y226Xh6J/xH8mYzm6C/tHFkRVbi+tV1uyW7pIMSTehhBt6sBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
