<style>
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
}

.maina-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.navbar.hide {
  transform: translateY(-100%);
}  

.navbar.sticky {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow when sticky */
}
  
.maina {
  color: #05ff58 !important;
  font-size: 1.2rem;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: auto;
}

.navbar li {
  margin-right: 2rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #ccc;
}
</style>

<nav class="navbar">
    <p class="maina-wrapper"><a class="maina" href="https://botanybase.github.io/">BotanyBase</a></p>
    <ul>
      <li><a href="https://botanybase.github.io/identify">Identify</a></li>
      <li><a href="https://botanybase.github.io/blog">Blog</a></li>
      <li><a href="https://botanybase.github.io/identify/full">Database</a></li>
      <li><a href="https://botanybase.github.io/docs">Docs</a></li>
      <li><a href="https://botanybase.github.io/contribute/add" class="button">Contribute</a></li>
      <!-- Add more links here -->
    </ul>
</nav>
