<style>
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
}

.navbar.hide {
  transform: translateY(-100%);
}  
  
.navbar.sticky {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow when sticky */
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  margin-right: 2rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #ccc;
}
</style>

<nav class="navbar">
  <div class="container">
    <ul>
      <li><a href="https://botanybase.github.io">Home</a></li>
      <li><a href="https://botanybase.github.io/identify">Identify</a></li>
      <li><a href="https://botanybase.github.io/blog">Blog</a></li>
      <li><a href="https://botanybase.github.io/contribute/add" class="button">Contribute</a></li>
      <!-- Add more links here -->
    </ul>
  </div>
</nav>
