@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

html {
  margin-top: 4em;
  background-color: #e0ceb8;
  overflow-x: hidden;
  transition: opacity 1s ease-in-out;
}



body {
  --sb-track-color: #f1f1f1;
  --sb-thumb-color: #dabaa3;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}
@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

p {
  font-family: "Montserrat", "Merriweather", serif;
  font-weight: 800;
  font-style: normal;
  color: #4d3922;
}

a {
  font-family: "Montserrat", "Merriweather", serif;
  font-weight: 800;
  font-style: normal;
  color: #bf8032;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  color: #5c4b36;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  color: #5c4b36;
}

h3 {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  color: #5c4b36;
}

h4 {
    font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
  color: #5c4b36;
}

.button-box {
  /* Fixed size */
  width: 70%;
  height: 30vh;
  
  /* Curved edges */
  border-radius: 10px;
  
  /* Background image */
  background-size: cover;
  background-position: center;
  
  /* Centering */
  margin: 20px auto;
  display: block;
  
  /* Transition effect */
  transition: all 0.3s ease-in-out;
  
  /* Additional styles */
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
}

.button-box:hover {
  /* Hover effect */
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

hr {
  border: none;
  height: 2px;
  background-color: #8BC34A; /* light green */
  animation: hrmove 5s linear infinite;
}

@keyframes hrmove {
  0% {
    background-position: 0% 50%;
  }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease-in-out; /* Add a smooth transition effect */
}

.navbar.hide {
  transform: translateY(-100%);
}  
  
.navbar.sticky {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow when sticky */
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  margin-right: 2rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #ccc;
}
  100% {
    background-position: 100% 50%;
  }
}

.button {
  background-color: #34C759; /* White-ish background */
  color: #f7f7f7; /* Green text color */
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: block; /* Make the button a block element */
  margin: 0 auto; /* Center the button */
  max-width: 200px; /* Add a max width to ensure centering works */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #ffffff; /* Green background on hover */
  color: #34C759; /* White text on hover */
}

.button2 {
  background-color: #ffffff; /* White-ish background */
  color: #34C759; /* Green text color */
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: block; /* Make the button a block element */
  margin: 0 auto; /* Center the button */
  max-width: 200px; /* Add a max width to ensure centering works */
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: #34C759; /* Green background on hover */
  color: #ffffff; /* White text on hover */
}

.lightbg {
    display: block;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #81a67c;
    color: #ffffff;
    width: 80%;
    height: auto;
    padding: 8px;
}

.posts.post {
	 padding-bottom: 2em;
	 border-bottom: 1px solid;
}
 .posts.post:last-child {
	 padding-bottom: 1em;
	 border-bottom: none;
}
 .post blockquote {
	 margin: 1.8em 0.8em;
	 border-left: 2px solid;
	 padding: 0.1em 1em;
	 border: #000;
	 font-size: 22px;
	 font-style: italic;
}

 .post.read-more {
	 text-transform: uppercase;
	 font-size: 15px;
}
 
.post-wrapper {
	display: block;
	background-color: #dbb693;
	width: 90%;
	padding: 5px;
	margin-top: 8px;
	margin-left: 5%;
	border-radius: 5px;
}

.soundbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    color: #fff;
}

.soundbutton:hover {
    background-color: #555;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #61bd37;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
  



/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.corners {
	width: 45px;
	height: 45px;
	position: relative;
	transform-origin: center;
	animation: spin 3s infinite linear;
}

.corner {
	width: 100%;
	height: 100%;
	position: absolute;
	
	&::before {
		display: block;
	        width: 50%;
		height: 50%;
		border-radius: 0 40% 0 40%;
		background-color: #61bd37;
		content: '';
	}
}

@keyframes spin1 {
	0% { transform: rotate(0deg); }
	30% { transform: rotate(0deg); }
	70% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes spin2 {
	0% { transform: rotate(0deg); }
	30% { transform: rotate(270deg); }
	70% { transform: rotate(270deg); }
	100% { transform: rotate(360deg); }
}

@keyframes spin3 {
	0% { transform: rotate(0deg); }
	30% { transform: rotate(90deg); }
	70% { transform: rotate(90deg); }
	100% { transform: rotate(360deg); }
}

@keyframes spin4 {
	0% { transform: rotate(0deg); }
	30% { transform: rotate(90deg); }
	70% { transform: rotate(90deg); }
	100% { transform: rotate(360deg); }
}

.corner--1 {
	animation: spin1 3s infinite cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.corner--2 {
	animation: spin2 3s infinite cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.corner--3 {
	animation: spin3 3s infinite cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.corner--4 {
	animation: spin4 3s infinite cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
