@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
  background-color: #e0ceb8;
  x-overflow: hidden;
}

p {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: #4d3922;
}

a {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  color: #bf8032;
}

h1 {
    font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
  color: #5c4b36;
}

.button-box {
  /* Fixed size */
  width: 70%;
  height: 30vh;
  
  /* Curved edges */
  border-radius: 10px;
  
  /* Background image */
  background-size: cover;
  background-position: center;
  
  /* Centering */
  margin: 20px auto;
  display: block;
  
  /* Transition effect */
  transition: all 0.3s ease-in-out;
  
  /* Additional styles */
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
}

.button-box:hover {
  /* Hover effect */
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

hr {
  border: none;
  height: 2px;
  background-color: #8BC34A; /* light green */
  background-image: linear-gradient(to right, #3E8E41 0%, #8BC34A 100%); /* green gradient */
  background-size: 2px 2px;
  background-position: 0% 50%;
  animation: hrmove 5s linear infinite;
}

@keyframes hrmove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
