<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}
  
  <body onload="myFunction()" style="margin:0;">

    <div class="sk-folding-cube" id="loader">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    
    <main>
    <div id="myDiv" style="display: none;" class="animate-bottom">
      
        {% include navigation.html %}
        <br>
        {{ content }}
        <!-- page content -->
        <div class="soundbutton" id="soundButton">
          <i class="fas fa-play"></i>
        </div>
      <audio id="soundtrack" loop>
        <source src="/assets/nature-birds-singing-217212.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      
      {% include footer.html %}
      
    </div>
    </main>

    <!-- add javascript -->
    <script type="text/javascript" src="https://botanybase.github.io/assets/js/main.js"></script>
    
  </body>
  
</html>
